@import '@/styles/_sass';

.header{
    @include flex($justify: space-between, $align: center);
    margin: 30px 100px;
    @media (max-width: map-get($grid-breakpoints, lg))  {
        justify-content: center;
        button{
            display: none;
        }
    }
}