@import '../../styles/sass';

.button{
    .buttonText{
        @include p1;
        cursor: pointer; 
        padding: 15px 30px;
        transition: all .2s linear;
    }
    .primary{
        background-color: $white;
        color: $main-gray-dark;
        border: 2px solid $main-blue;
        border-radius: 10px;
    }
    .primary:hover{
        background-color: $main-blue;
        color: $main-gray-dark;
    }
    .notFound{
        border-bottom: 2px solid $black;
    }
    .notFound:hover{
        border-bottom: 2px solid $main-blue;
    }
}