@import '@/styles/_sass';

.arrowButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    cursor: pointer;
    .prev:before {
      content: '\2190'; 
    }
    .next:after {
      content: '\2192'; 
    }
    @media (max-width: map-get($grid-breakpoints, lg)) {
      gap: 15px;
    }
}
  