@mixin flex($justify: flex-start, $align: stretch, $direction: row, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $align;
    justify-content: $justify;
}
    
@mixin flex-centered($justify: center, $align: center, $direction: row, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $align;
    justify-content: $justify;
}