@mixin h1() {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
}
    
@mixin h2() {
    font-size: 26px;
    line-height: 26px;
}
    
@mixin h3() {
    font-size: 20px;
    line-height: 20px;
}

@mixin p1() {
    font-size: 18px;
    line-height: 20px;
}

@mixin p2() {
    font-size: 16px;
    line-height: 15px;
}

@mixin p3() {
    font-size: 14px;
    line-height: 10px;
}