@import "@/styles/_sass";

.paginationArrows{
  @include flex($justify: center);
  gap: 30px;
  margin-bottom: 20px;
}
.questionList{
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    .questionItem{
      @include flex($justify: space-between, $align: center);
      color: $main-gray-dark;
      padding: 20px 40px;
      border-top: 1px solid $main-gray;
      transition: all 0.3s;
      &:hover {
        background-color: $main-blue;
        border-top: 1px solid $main-blue;
        padding-left: 60px;
      }
      &:last-child{
        border-bottom: 1px solid $main-gray;
      }
      a, a:visited {
        color: inherit;
        text-decoration: none;
      }
      .question{
        .title {
          @include p1;
          cursor: pointer;
          color: $black;
          margin-bottom: 10px;
        }
        .author {
          @include p3;
          margin-bottom: 15px;
          .authorName{
            text-decoration: underline;
          }
        }
        .answers{
          @include p3;
          margin-bottom: 35px;
        }
        .tags {
          @include p3;
          margin-bottom: 12px;
          .tagName{
            background-color: $main-blue;
            margin-left: 10px;
            padding: 5px;
          }
        }
      }
      .comments{
        @include p3;
      }
    }
    @media (max-width: map-get($grid-breakpoints, lg)) {
      width: 90%;
      padding: 10px;
      .questionItem {
        @include flex($direction: column, $align: flex-start);
        padding: 15px 20px;
        &:hover {
          padding-left: 20px;
        }
        .question {
          .title {
            @include p2;
          }
          .author,
          .answers,
          .tags {
            font-size: 12px;
          }
          .tags {
            @include flex($wrap: wrap, $align: center);
            gap: 10px;
          }
        }
      }
    }
}
.questionListEmpty{
  @include p1;
  text-align: center;
  margin-top: 40px;
}
  
  