@import "@/styles/_sass";

.questionDetail{
    width: 70%;
    margin: 0 auto;
    .questionHeader{
        text-align: center;
        margin-top: 50px;
        .title{
            border-bottom: 1px solid #000;
            padding-bottom: 20px;
            margin-bottom: 20px;
            font-size: 20px;
        }
        .author{
            font-size: 16px;
            margin-bottom: 25px;
            .authorName{
                text-decoration: underline;
            }
        }
        .tags {
            font-size: 14px;
            margin-bottom: 40px;
            .tagName{
              margin-left: 10px;
              padding: 5px;
              background-color: $main-blue;
            }
        }
    }
    .comments{
        .comment{
            border-bottom: 2px solid #000;
            padding-bottom: 30px;
            h3{
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin: 50px 0;
            }
            .commentsTitle{
                margin: 30px 0;
                font-weight: bold;
            }
        }
    }
    .commentsEmpty{
        font-size: 18px;
        text-align: center;
    }
    @media (max-width: map-get($grid-breakpoints, lg)) {
        width: 90%;
        margin-top: 20px;
    
        .questionHeader {
          margin-top: 30px;
    
          .title {
            font-size: 18px;
            padding-bottom: 15px;
            margin-bottom: 15px;
          }
    
          .author {
            font-size: 14px;
            margin-bottom: 20px;
          }
    
          .tags {
            font-size: 12px;
            margin-bottom: 30px;
    
            .tagName {
              margin-left: 5px;
              padding: 3px;
            }
          }
        }
    
        .comments {
          .comment {
            padding-bottom: 20px;
    
            h3 {
              font-size: 16px;
              margin: 40px 0;
            }
    
            .commentsTitle {
              margin: 20px 0;
            }
          }
        }
    
        .commentsEmpty {
          font-size: 16px;
        }
    }
}