@import 'styles/sass'; 

.logo{
    .logoTitle{
        @include h1;
        cursor: pointer;
        color: $main-gray-dark;
        position: relative;
        border-bottom: 4px $main-blue solid;
        border-radius: 10px;
        transition: color .5s linear;
        &:hover{
            color: $white;
            border-radius: 10px;
            transition: color .5s linear, border-radius 10px .5s linear;
        }
        &:before{
            content:"StackOverflowList";
            position:absolute;
            color: $main-blue-dark;
            top:0;
            left:0;
            width:0%;
            overflow:hidden;
            transition:all 0.5s;
        }
        &:hover:before{
            width:100%;
        }
    }
}